In [1]:
#Strip command# rstrip() to remove left strip #lstrip() to remove right strip
name='     shekh firoz alam        '
print(name.lstrip())

shekh firoz alam

In [2]:
s1=""

In [3]:
#to make uppercase

s1="this is book"
s1.upper()

'THIS IS BOOK'

In [4]:
#to make lowercase
s1.lower()

'this is book'

In [5]:
#to get title case
s1.title()

'This Is Book'

In [6]:
#concatination of string
s1="hydera"
s2="bad"
s3=s1+s2
print(s3)

hyderabad

In [7]:
#character and forloop
str="Hello"
#str[0]
for x in str:
    print(x)

H
e
l
l
o

In [8]:
#forloop to print in single line you wil use "end" keyword 
for x in str:
    print(x,end=',')

H,e,l,l,o,

In [9]:
#Bytes data type:an array that stores number between 0 to 255

x=bytes([10,20,30,40,50])
print(type(x))
print(x)
for i in x:
    print(i)
    
#bytes type cannot be modified,we cannot modified the element of byte array
x[0]=44

<class 'bytes'>
b'\n\x14\x1e(2'
10
20
30
40
50

TypeError: 'bytes' object does not support item assignment

In [ ]:
#bytearray datatype:same as bytes but we cannot be modified but bytearray data type can be modifieds
x=bytearray([10,23,4,56,6,7,5,4,3,2,2,3,4,5,5])
x
for i in x:print(i)
x[0]
x[0]=99
for i in x: print(i)

In [ ]:
##vimp List:A list is similar to array that can store a group of elements of different types
#in list we can store multiple kid of datatype in List.its represtend as []
lst=[]
lst=[10,20.40,49.8,'shekh','a']
#print(lst)
for x in lst:print(x)
#it will take element from lst and print
#list is a versitile data type in python can store anything

In [ ]:
#in a list we can perform various task as below
#indexing->retevering any particular elements

lst[0]
lst[3]

In [ ]:
#slicing in list->Retrieveing a particular element

lst[3]
lst[0:3] #will print n-1 element below
lst[3:5]
len(lst) #return the length of elements
lst[0:len(lst)]#printing from 0 to len
lst[0:5:2]#stepsize 2 means print alternate elements
lst[4:1:-1]#print in reverse method
lst[::-1]

In [ ]:
#special print play
lst[::]

In [ ]:
lst1=lst*2     # repeate complete list 
print(lst1)

In [ ]:
#Delete a particular function del is fundtion we have give the index
del(lst[1])
lst

In [ ]:
lst2=lst.remove('a') #to remove method we will directly give the element

In [ ]:
#lst
lst=(5,10,2,1,-3,9)
lst[1:3]
lst[1:3]=[8, 15]  #getting error

In [ ]:
#i want to know the position number  of a element 9
max(lst)
min(lst)
#lst(index(9))
lst.count(9)
print(lst)
lst.insert(0,10)
lst

In [ ]:
lst1=lst.copy()
lst1

In [ ]:
lst.extend([0,0,0,0,0])
lst

In [ ]:
lst.sort()
lst
lst.sort(reverse=True)#shorted in reverse order

In [ ]:
#Tuple is same as list we cannot modify the elements of tuple
#its represented as ()
tpl =(3,4,5,6,10.5,'shekh')
print(tpl)
tpl[0]=99  #cannot modify the tupple

In [ ]:
#tuple is one element comma is very imp
tpl1=(10,)
print(tpl1)

In [ ]:
tpl1*3 #multiply the tupple several times

In [ ]:
#Python 4 Class(02Nov2017)

In [ ]:
#Data Type is Range
Range is a data type its loking like a function when we call the range function it 
will internally call a function and create a sequence of number eg:range(5)->0to4

In [ ]:
obj =range(5)
print(obj)
#to print the numbers
for i in obj:
    print(i)

In [ ]:
object2=range(10,21)
for i in object2:
    print(i)

In [ ]:
#we can mention step size also
x=range(10,21,2)
for i in x:
    print(i)

In [ ]:
#print in decending order
x=range(10,5, -1)
for i in x:
    print(i)

In [ ]:
#SET DATA TYPE
'''
1)unordered collection of element 
2)sets will not allow duplicate elements
3) nordered collection
'''

myset={10,-25,'srinu',x}
for i in myset:
    print(i)

In [ ]:
myset={10,20,30,20,40,50,60}
for i in myset:
    print(myset)

In [ ]:
#update,remove, method
#can you modify the list? yes we can
s={1,2,3,4,5}
print(s)
s.update([8,9])
print(s)
s.remove(5)
print(s)

In [ ]:
#data type Frozen Set is same as Set  ??
""" we cannot even remove  or update in forzen set """
s={10,20,30,'vani'}
s1=frozenset()

In [ ]:
"""
Map in data type is called dictionary:dict
A dictionary stres data in the form of key-value pairs 
such that if key is given,wee can get back its value
key must be unique
"""
d={10:'shekh',11:'firoz',12:'alam',13:'sahil',14:'ghochu'}
type(d)
k=d.keys()
for i in k:print(i)
#values
v=d.values()
for i in v :print(i)
    
 #key value togather we want to print

In [ ]:
#use of items functions
d={10:'firoz',11:'shekh',12:'alam'}
d
for i in d.items():print(i)
    
for i in d.items():print(i[0])

for i in d.items():print(i[0],i[0])

In [ ]:
mydict = {1001:25.5,1002:30.5,1003:44}
mydict

#editing in 
mydict[1002]=99
mydict

#deleting  a value
del(mydict[1001])
mydict

In [ ]:
"""
1)there is no char data type in python
2)id(t)

"""

In [ ]:
#to know the memoy location we will give id(t)
t=(1,3,4,5,6,7,7)
id(t)

In [ ]:
#
a=10 #storing 10 in a

b=15 #storing 15 in b

In [ ]:
#lecture 4 OPERATORS is a symbole that perform an operation.

In [ ]:
a=13
b=5
print(a+b)
print(a*b)
print(a/b)
print(a//b) #floor division
print(a**3) #power operator
print(a%b)  #modulus operator
a,b,c=1,1.5,'srinu'
print(a,b,c)

In [ ]:
#Relational Operators
a,b=2,1
print(a>b)
print(a<b)
print(a!=b)
print(a==b)

In [ ]:
a=True
b=False

print(a and b)
print(a or b)
print(not b)
print(not a)

In [ ]:
a,b,c=1,2,3
print(a,b,c)
print(a<b<c)

In [ ]:
#Input Output in Python
print('hello')
print("hello")
x,y =1,2.5
print(x,y)
print(x,y,sep=':') #sep is a keyword that sepate the word comma and spaces
print('hello',x,y)
name ="shekkh firoz"
print('hello'+name)
print(x,y,sep='----------------------------------------')

In [ ]:
#write a python programe to disply employee Id number,nameand salary using print function.
"""to display employe details"""
id =30
name='shekh firoz'
sal=12000.33
print('Id= ',id)
print ('name= ',name)
print('sal=',sal)

In [ ]:
#write a python programe to disply employee Id number,nameand salary using
#print function. usind end not to throw the cursor to next line
"""to display employe details"""
id =30
name='shekh firoz'
sal=12000.33
print('Id= ',id,end=",")
print ('name= ',name,end="  ")
print('sal=',sal,end=",")

In [ ]:
#printing multiple by using one  print function
print('Id=%d,Name=%s,Salary=%8.2f' % (id,name,sal))
print('Id=%d,Name=%s,Salary=%12.2f' % (id,name,sal)) #right align

print('Id=%d,Name=%s,Salary=-%12.2f' % (id,name,sal))  #left align
print('Id=%d,Name=%s,Salary=.%2f' % (id,name,sal)) 
print('Id=%5d,Name=%s,Salary=12.2%f' % (id,name,sal)) #%5d

In [ ]:
#python format function in python
print('\nId={},Name={},Salary ={}'.format(id,name,sal)) 
print('\nId={0},Name={1},Salary ={2}'.format(id,name,sal)) 
#to change the sequences but dont use it
print('\nId={2},Name={0},Salary ={1}'.format(id,name,sal)) 
#to give space in output
print('\nId={:5d},Name={:20s},Salary ={:.2f}'.format(id,name,sal))

In [ ]:
#Input Function

In [ ]:
#lecture 6 Input with print
a =float(input("enter a num" ))
print(a)
square = a ** 2
print(square)

In [ ]:
#Lecture 7(6 nov 2017)
'''ControleStatment:
if condition:
    statements1
else:
    statments2
Q:1 wap and test it is even or odd?
'''

num =int(input('enter a number:'))
if num ==0:
    print('it is zero')
elif num%2==0:
    print(num,'is even number')
else:
    print(num,'is odd')

In [ ]:
#Accept a number check weather it is positive or negative number
pos=int(input('enter a number'))
if pso==0:
    print('0 is neither positive or negative')
elif pso>0:
        print(pos,'number is postive')
    elif pso<0:
    print(pso,'negative num')
else:
            print("you are done man")

In [ ]:
#While Example
"""Its repeatedly executes a group of statment as long as a condition is true
while condition:
    statments
WAP to print 1 to 10"""

x=1
while x<=10:
    print(x,end=',')
    #print(x)
    x=x+1

In [ ]:
# modify the above programe to find 100 even number 
y=2
while(y<=100):
    print(y,end=' ')
    y=y+2

In [ ]:
#WAP to display even numbers between m and n
m= print(input('enter the number m'))
n=print(input('enter the number n'))

if m%2==0:
    pass #pass means do nothing in this statment
else:
    m=m+1
while m<=n:
    print(m)
    m=m+2

In [ ]:
#WAP to display even numbers between m and n
m= print(input('enter the number m'))
n=print(input('enter the number n'))

if m%2==0:
    m=m+1

while m<=n:
    print(m)
    m=m+2

In [ ]:
""" for Loop
Syntax:= for var in sequences:
                   statments
squence meaning => group of elements ex str,dict,list,tuple,set,bytes,byte array,array,
Generate An even number up to 100
"""
even_num=input(print('enter a number'))
for x in even_num:
    print(x)

In [ ]:
"""1)Dislay the indivudial letter of a string"""
str_input=print(input('please enter the string'))
for  x in str_input:
    print(x)

In [ ]:
"""2) tofind sum of list of numbers """
sum_of_list[float(x) for x in input('enter numbers:').split(',')]
sum=0
for i in sum_of_list:
    sum=sum+i
    print('sum=,'sum)

In [ ]:
"""wap a multiplication table
which table?2
1X2=2
2x2=2
3x2=6
4x2

"""

n=int(input("which table you want"))
for i in range(1,21):
    print('%5d x %5d= %5d %(i,n,i*n))

In [ ]:
#
n=int(input("which table you want"))
for i in range(1,21):
    print('{:2d }x{:2d}={:3d}'.format(i,n,i*n))

In [ ]:
#wap to enter a number and find weather it's exist in list or not.
#break statment to break the loop
lst=[10,20,-10,30,40,5]
n=int(input("enter an number:"))
for i in lst:
    if n==i:
        print('number is found in list')
        break #when break is used it will not execute  else statment
else:#else part is always exeuted 
    print('nos not found')

In [ ]:
"""try 20 multiplication table using for loop
"""

In [ ]:
#break demo
n=1
while n<=10:
    if n>11:
        break
    else
    print(n)
    n=n+1

In [ ]:
#Continue Demo
"""
Continue is  used inside  a loop to repeat the loop again when continue is executed.
subsqeuent statment in the loop are not executed
"""
n=0
while n<10:
    n=n+1
    if n>5:
        continue #continue will give control back to while loop
    print(n) # this will not be display 1,2,3,4

In [ ]:
#pass: does nothing in pyhton
"""WAP to display only the negative number from a list of numbers.
"""
lst=[10,20,-5,25,-4,33,-88,-1,-55]
for x in lst:
    if x>0:
        pass
    else:
        print(x)

In [ ]:
"""Assert statment:this statment is used to check the value of the variable.
Syntax :assert condition,"message"
ex:  assert x>5,'Wrong input'
AssertionError and also our message will be displayed
"""
#Check if the user entered a number between 5 and 10
num =int(input('enter a number :'))
assert num >5 and num<10,'please type between 5 and 10'
print('U entered:',num)

In [ ]:
#how to handle exception using try and except
num =int(input('enter a number :'))
try:
    assert num >5 and num<10,'please type between 5 and 10'
    print('U entered:',num)
except AssertionError as firoz:
    print(firoz)

In [1]:
"""#Return statment:is used inside a function to return some vvalue.
ex return x
   return x,y
   return 1
   return lst"""

#function
def sum(x,y):
    z=x+y
    print('Total',z)
#Call the function
sum(10,10.5)

Total 20.5

In [2]:
#Returning the return statmet
def sum(x,y):
    z=x+y
    return z
#Call the function
res=sum(10,10.5)
print('Result=',res)

Result= 20.5

In [ ]:
"""wap to accept a number and return its cube value"""

def cube(x):
    z=x**3
    return z
#call the functtion
res=cube(10)
print('Result',res)

In [3]:
"""Sir example"""
def cube(x):
    z=x**3
    return z
n =float(input('Enter the number: '))
#call the functtion
res=cube(n)
print('Result',res)

Enter the number: 3
Result 27.0

In [ ]:
""" 1) Command line args are value typed  at command prompt while running a Python programm
    2) Command line args are stored bydefault in list: argv 
     that belongs to sys module.
     C:\>python myprog.py 10 20 -5
"""
import sys #To find nos of args and display them
n=len(sys.argv) #find the number od args
print('No of args',n)

#display all the args
for x in sys.argv:
    print(x)

In [ ]:
#wap enter 2 num from comman line and disply there sum
import sys
n1=float(argv[1])
n2=float(argv[2])
n3 =n1+n2
print('Sum= ',n3)

In [ ]:
#Acccept a  num using command line find sum and averag

In [ ]:
#9lecture 08 Nov 2017
"""addition and substraction of 2 numbers and return two results
"""
def sum_sub(x,y):#formal argument
    res1=x+y
    res2=x-y
    return res1,res2
a,b=[float(x) for x in input('Enter two nos:').split(',')]
res1,res2=sum_sub(a,b) #a,b is actual argument
print('Result of addition:',res1)
print('Result of Substraction',res2)

In [ ]:
"""Write a function that accept a list of numbers and returns there sum and average
def sum_avg():
    res1=a[]
    res2=b[]
    return res1,res2
a[],b[]=[float() for x in input('enter the lis of numbers').split(" ")]
res1.res2=sum_avg(a[],b[])
print("result of addd:",res1)
print("result of avera",res2)""""""

In [ ]:
def sum_avg(lst):
    s=sum(lst)
    a=s/len(lst)
    return s,a
#call the function
lst =[float(x) for x in input('Enter nos:').split(",")]
a,b=sum_avg(lst)
print('Sum={:.1f} and Average = {:.2f}'.format(a,b))

In [ ]:
"""accept a group of names and return them also"""

def mystring(lst):
    return lst #lst is local variable

#accept the input form keyboard
lst=[x for x in input('Enter String:').split(',')]
lst1=mystring(lst)
for i in lst1:
    print(i.strip())

In [ ]:
#local variable
def display():
    x=1
    print(x)
#this is outside the function
display()
#print(x)

In [ ]:
#Global variable
y=2
def display():
    x=1
    print(x,y)
#this is outside the function
display()
print(y)

In [ ]:
#Local and global variable
x=2 #global variable
def display():
    x=1 #local variable is powerfull locally
   # print(x)
#this is outside the function
display()
#print(y)
print(x)

In [ ]:
#Local and global variable we want to acces gloabl variable in local scope
x=2 #global variable
def display():
    x=1 #local variable is powerfull locally(village example)
    y=globals()['x']#acces the global 
    print(x,y)
#this is outside the function
display()
#print(y)
print(x)

In [ ]:
#interview question?Functions are first class objects.?
"""Ans:we can use functions exactly like objects.
  you can return a function from inside a function
  1.it is possible to assign a function to  a variable.
  x=function(p)
"""

In [ ]:
#1 it is possible to assign a function to  a variable.
import math
def sqroot(y):
    return math.sqrt(i) """??? ask sir"""
var= sqroot(16)
print(var)

In [ ]:
#another function
def display(str):#krish
    def message():
        return 'hello'
    return message()+str
var=display('Krish')
print(var)

In [ ]:
"""
"""
def display():
    def message():
        return 'hey'
        def python():
            return 'heyPython'
        return python
    return message #we are
var =display()# var contaims function name.
print(var())
var1=message()
print(var1())

In [ ]:
"""
Ask to sir
it is possible to pass a function as parameterr to another function
"""
def display(msg):
    return 'Hello'+msg()

def message():
    return 'Krish'
var =display(message)
print(var)

In [ ]:
##Lecture 9
""""
call by object reference -immutable
"""
def modify(str):
    str ='Hello'+str
print(str,id(str))

#Outside the function
str ='Krish'
modify(str)
print(str,id(str))

In [ ]:
#call by object reference-mutable object
def modify(lst):
    lst.append(99)
    print(lst,id(lst))
    
#outside the function
lst = [10,20,30]
modify(lst)
print(lst,id(lst))

In [ ]:
#Recursive function to calulate factorial lof a number
def fact(n):
    if n==0:
        res=1
    else:
        res=n*fact(n-1)
        return res
num =int(input('enterba number'))
print('Factorial of {} is {}'.format(num,fact(num)))

In [ ]:
#positional function
def join(s1,s2):
    print(s1+s2)
join('bad','hydera')

In [ ]:
#KeyWord Argument are identified by there names.
def grocery(name,price):
    print('Item name=',name)
    print('Price=',price)
grocery(name='Sugar',price='56') #name is assigned with

In [ ]:
##Default Argument 
#in python are used by default.if you dont send anydata then only it will use the default data
def grocery(name,price=50.00):
    print('Item name=',name)
    print('Price=',price)
grocery('oil',60)

In [ ]:
#Variable length argument:can store 0 or more number of elements or values
#its start with a *num = variable length argument,here num is list

def sum1(*num):
    s=sum(num)
    print(s)
sum1(19,11)
sum1(1,2,3,4,5,6,7,8,9)
sum1()