In [ ]:
"""
LAMBDA:It is a function that does not have a name.
we do nt write name and result statment
lamdas are called anonymous function.
One object is created internally

--They return a function as an object--

Wrte a lamda which returns there sum
"""

In [2]:
#Normal function in Python
def sum(x,y):
    return x+y
print(sum(23,26))

#Using Lambda Function in python
f=lambda x,y:x+y
print(f(10,20))

49
30

In [ ]:
"""
to know if number is even or not with the help of normal function
"""
def even():
    input_num=float(input("please enter a num "))
    print(input_num)
    if input_num%2==0:
        print("number is even")
    elif:
    else:
        print("nos is odd you ass")
even()

In [10]:
#checking a number odd or even BY LAMBDA function
fun=lambda x:'number is even'if x%2==0 else "Number is ODD"
#print(fun)
res=fun(11)
print(res)

Number is ODD

In [9]:
"""
1)the filter() is useful to filter out the elements of a sequence.
2)it returns a sequences.
3)filter(lamda,sequence,list) 
# WAP To reterive even nos from a group of numbers
"""
lst =[10,11,12,-12,10,5]
#lst1=filter(lambda x: x%2=0,lst)
f=filter(lambda x: x%2==0,lst)
for i in lst:
    print(i)

10
11
12
-12
10
5

In [12]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

F = map(fahrenheit, temp)
print(F)
C = map(celsius, F)
print(C)

<map object at 0x7faf08494390>
<map object at 0x7faf084943c8>

In [13]:
""" the map() function is similar to filter() function but it acts on each 
elements of the sequesnces,it modifies the elements and return them.
map(lambda,sequences)

wap that returns squares of a group of elements
"""
lst =[10,11,12,-12,10,5]
lst1=map(lambda x:x*x,lst)
for  i in lst1:
    print(i)

100
121
144
144
100
25

In [19]:
"reduce() function reduces a sequences of elements to a single value reduce(lambda,sequences)
"
#create a lambda function to calculate the cummulative product of list of nos.
from functools import *
lst=[1,2,3,4,5,6,7]
res=functools.reduce(lambda x,y:x*y,lst)
#print(res)

SyntaxError: EOL while scanning string literal (<ipython-input-19-70a670f036b8>, line 1)

In [17]:
from functools import *
shekh=[47,11,42,13,0,0,0,0,10,90,20,50]
reduce(lambda x,y: x+y, shekh)

283

In [7]:
def primenum():
    num=input(range(2,50))
    print(num)
primenum()

range(2, 50)51
51

In [9]:
lower = 1
upper = 50
print("Prime numbers between",lower,"and",upper,"are:")

for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
            else:
                print(num)

Prime numbers between 1 and 50 are:
3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49